@import "tailwindcss";
@plugin "@tailwindcss/typography";
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

/* Custom prose styles */
.prose img {
  @apply rounded-xl mb-8 bg-slate-100;
}

@media (min-width: 640px) {
  .prose img {
    @apply mb-12;
  }
}

.dark .prose img {
  @apply bg-gray-800;
}

.prose p {
  @apply mb-4 leading-8 text-base whitespace-pre-wrap;
}

@media (min-width: 640px) {
  .prose p {
    @apply mb-5 text-lg;
  }
}

.prose ul {
  @apply mb-4 space-y-2 text-base pl-6;
}

@media (min-width: 640px) {
  .prose ul {
    @apply mb-5 text-lg;
  }
}

.prose ol {
  @apply mb-4 space-y-2 text-base pl-6;
}

@media (min-width: 640px) {
  .prose ol {
    @apply mb-5 text-lg;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Pretendard Variable", Pretendard, -apple-system,
    BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI",
    "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}
