@import "tailwindcss";
@plugin "@tailwindcss/typography";
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

:root {
  --background: oklch(100% 0 0);
  --foreground: oklch(15% 0 0);
  --lv1-background: oklch(96% 0.004 247);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-image-background: var(--image-background);
}

/* Custom prose styles */
.prose img {
  @apply rounded-2xl mb-2 w-full max-h-[50vh] object-contain mx-auto;
  background-color: var(--lv1-background);
}

@media (min-width: 640px) {
  .prose img {
    @apply mb-4;
  }
}

.prose p {
  @apply mb-4 leading-8 text-base whitespace-pre-wrap;
}

@media (min-width: 640px) {
  .prose p {
    @apply mb-5 text-lg;
  }
}

.prose ul {
  @apply mb-4 space-y-2 text-base pl-6;
}

@media (min-width: 640px) {
  .prose ul {
    @apply mb-5 text-lg;
  }
}

.prose ol {
  @apply mb-4 space-y-2 text-base pl-6;
}

@media (min-width: 640px) {
  .prose ol {
    @apply mb-5 text-lg;
  }
}

.prose pre {
  @apply rounded-2xl;
  /* background-color: var(--lv1-background); */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: oklch(7% 0 0);
    --foreground: oklch(92% 0 0);
    --lv1-background: oklch(21% 0.034 264.665);
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Pretendard Variable", Pretendard, -apple-system,
    BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI",
    "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}
